
#Importing random file
from random import shuffle
#Setting a list mylist will seems like glasses naming 0,1,2
mylist=['0','','']
# Making a function for shuffling the glasses with shuffle function
def shuffle_list(mylist):
    result=shuffle(mylist)
    return result
#Making a function which can players guess
def player_guess():
    print("Hey")
    guess=''
    while guess not in ['0','1','2']:
        guess=input("Pick a position from 0,1,2 - ")
    return int(guess)
#Making a function which can check the players guess
def check_guess(myshufflelist,guess):
    if mylist[guess]=='0':
        print("Correct")
    else:
        print("Incorrect!")
while 5==5:   # I had started while loop because I want that this game will never end. I had taken 5==5 because 5==5 will never become false so that my game will never stop.
    myshufflelist=shuffle_list(mylist)
    guess=player_guess()
    check_guess(myshufflelist,guess)
